<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather and Image Display</title>
</head>

<body>

<header>
    <div class="">
        Logo
    </div>
    <div class="">
        Navigation
    </div>
</header>

<main>
    <section>
        <form id="urlForm">
            <input id="destination" type="text" name="destination" placeholder="Enter your destination" required>
            <input id="date" type="date" name="date" placeholder="Enter your departure date" required>
            <button id="submitButton" type="submit">Submit</button>
        </form>
    </section>

    <section>
        <div class="results" id="results">
            <!-- Results will be displayed here -->
        </div>
    </section>
</main>

<footer>
    <p>This is a footer</p>
</footer>

</body>
</html>